<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
  {{ partial "quartz/head" . }}
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">

  

</head>
{{ partial "bare-header" . }}
{{ partial "quartz/search" . }}
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <main class="main-container">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>
    <div class="book-page container {{ if default true (default .Site.Params.toc .Params.toc) }} with-toc {{ end }} ">
      {{/*  <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>  */}}

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->


      






      {{ partial "docs/inject/content-after" . }}
      
      
      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.toc .Params.toc) }}
    <aside class="book-toc">
      <div class="book-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.toc .Params.toc) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}

  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>

{{ end }}

{{ define "main" }}
  <article class="markdown">

    <h1 class="title">{{ partial "docs/title.html" . }}</h1>
    {{ partial "docs/post-meta" . }}
    
    <div class="content">{{partial "quartz/textprocessing" . }}</div>









{{ partial "quartz/backlinks2" . }}

<p><a name="giscus"></a></p>
    
<!--

    {{ partial "quartz/footer" .}}
-->

    
    {{/*  {{- .Content -}}  */}}



<script src="https://giscus.app/client.js"
        data-repo="anareaty/anareaty.github.io/paperless-forest"
        data-repo-id="R_kgDOKOx0hA"
        data-category="General"
        data-category-id="DIC_kwDOKOx0hM4CZOEl"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://paperless-forest.ru/giscus/giscus-theme.css"
        data-lang="ru"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>


    
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}












<script>
  const managePopovers = () => {
    let popNum = 1

    const getTop = (el) => {el.offsetTop + (el.offsetParent && getTop(el.offsetParent))}
    
    let internalLinks = document.querySelectorAll('a.internal-link');
    internalLinks.forEach((link) => {
      link.addEventListener('mouseover', (e) => {
        let linkId = e.target.id;
        let bareId = linkId.slice(5)
        let popoverId = "popover-" + bareId
     
        document.getElementById(popoverId).classList.add('popover-hover');
        document.getElementById(popoverId).style.zIndex = popNum
        popNum++
        document.getElementById(popoverId).style.top = e.target.offsetTop + 75 + 'px';
        document.getElementById(popoverId).style.left = e.clientX - 250 + 'px';
     
        
      });

      link.addEventListener('mouseout', (e) => {
        let linkId = e.target.id;
        let bareId = linkId.slice(5)
        let popoverId = "popover-" + bareId
        setTimeout(() => {
          document.getElementById(popoverId).classList.remove('popover-hover');
        }, 400);
      });
    });


    let popovers = document.querySelectorAll('div.pp');
    popovers.forEach((pop) => {
      pop.addEventListener('mouseenter', (e) => {
        let popoverId = e.target.id;
        document.getElementById(popoverId).classList.add('popover-hover-self');
      });

      pop.addEventListener('mouseleave', (e) => {
        let popoverId = e.target.id;
        document.getElementById(popoverId).classList.remove('popover-hover-self');
      });
    });

    
  }
  document.addEventListener("DOMContentLoaded", managePopovers);
</script>













