{{ $dir := $.File.Dir}}


{{$dir := replace $dir `\` `/`}}



{{ $re := printf "%s%s%s" `\[\[../` $dir $.File.BaseFileName }}



{{if eq $re `\[\[..//_index`}}
  {{$re = `\[\[../_index`}}
{{end}}



{{ $backlinks := slice }}
{{ range .Site.AllPages }}

{{ $filedir := .File.Dir}}
{{$filedir := replace $filedir `\` `/`}}



{{$content := .RawContent}}
{{$repl := printf `[[../%s` $filedir}}




{{$fixedContent := replace $content `[[./` $repl}}
{{$fixedContent := replace $fixedContent `..//` `../`}}


<div>re {{$re}}</div>
<div>fixedContent {{$fixedContent}}</div>


   {{ if and (findRE $re $fixedContent) (not (eq $re .File.BaseFileName)) }}

      {{ $backlinks = $backlinks | append . }}
   {{ end }}
{{ end }}



<hr>

{{ if gt (len $backlinks) 0 }}
  <div class="bl-section">
    <h4>Обратные ссылки</h4>
    <div class="backlinks">
      <ul>
       {{ range $backlinks }}
	  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
       {{ end }}
     </ul>
    </div>
  </div>
{{ else  }}
  <div class="bl-section">
  </div>
{{ end }}
