// Replace this with your own font imports!
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --font-body: "Noto Sans", "Century Gothic", sans-serif;
  --font-header: "Merriweather", serif;
  --font-mono: "Source Code Pro", monospace;
}

// Example local font declaration

// @font-face {
//   font-family: "PP Mori";
//   font-style: normal;
//   font-weight: normal;
//   src: url('fonts/PPMori-SemiBold.woff2');
// }

