<div class="book-comments">
    <p><a name="giscus"></a></p>
    
    <script src="https://giscus.app/client.js"
        data-repo="anareaty/paperless-forest"
        data-repo-id="R_kgDOKa1X3w"
        data-category="General"
        data-category-id="DIC_kwDOKa1X384CZz3C"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://paperless-forest.ru/giscus/giscus-theme.css"
        data-lang="ru"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
</div>
